body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    display: inline-block;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    gap: 10px;
}

.insert-result {
    background-color: #00c8ff;
}

.dilit{
    background-color: #ff0000;
}
.clear-last{
    background-color: #ff6565;
}
.mci{
    background-color: #0000ff;
}
.arbolin{
    width: 165px;
    background-color: #008e0e;
}


button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #666;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.tree-container {
    margin-left: 25%;
    margin-top: 20px;
    margin: 5%;
}

.node {
    text-align: center;
    padding: 5px;
    margin: 10px auto;
    background-color: #000000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.node operator {
    background-color: #ffffff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left, .right {
    display: inline-block;
    padding-top: 50px;
}


#expression {
    margin-bottom: 15px;
    width: 100%;
}


.tablas{
    margin-right: 5%;
}


/* Estilo para la tabla */
#tokens-table {
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

#tokens-table th, #tokens-table td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
}

#tokens-table th {
    background-color: #00238b; /* Color verde para el encabezado */
    color: white;
    font-weight: bold;
}

#tokens-table tr:nth-child(even) {
    background-color: #000000; /* Color de fondo para filas pares */
}

#tokens-table tr:hover {
    background-color: #ddd; /* Color de fondo al pasar el mouse */
}

